[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = collections
stdout_callback = default
callback_result_format = yaml
retry_files_enabled = false
interpreter_python = auto_silent
forks = 1

[privilege_escalation]
become_method = sudo
